extends layout

block content
    if question == null
        p= "You've answered all the questions!"
    else
        p= "Please answer the question!"
        form(action="/users/saveanswer?userid=#{userid}", method="post")
            p=question.question
        
            each choice in question.QuestionChoices
                input(type="radio", id="#{choice.id}", name="questionChoice", value="#{choice.id}")
                label(for="#{choice.id}")=choice.questionChoice

            input(type="submit")